# -*- mode: conf-unix; coding: utf-8; -*-

# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# defaults
[*]
insert_final_newline = true

# 2-space indentation
[*.{tex,sty,sty.in,el,html}]
indent_style = space
indent_size = 2

# 4-space indentation
[*.{rst,py,md}]
indent_style = space
indent_size = 4
[wscript]
indent_style = space
indent_size = 4
