# -*- mode: conf-unix; coding: utf-8; -*-

# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# defaults
[*]
insert_final_newline = true
trim_trailing_whitespace = true

# 2-space indentation
# We want 2-space indentation for Bash so that it looks good on the
# poster. If we use tabs, they will be expanded to 8 spaces. Better
# just to guarantee consistency.
[*.{tex,tex.in,sty,sty.in,el,html,bash.in}]
indent_style = space
indent_size = 2

# 4-space indentation
[*.{rst,rst.in,py,md,ebnf}]
indent_style = space
indent_size = 4
[wscript]
indent_style = space
indent_size = 4
