# For the poster, LaTeX minted package
Pygments==1.6

# Sphinx, for the manual
Sphinx==1.2.3
Jinja2==2.7.3
MarkupSafe==0.23
docutils==0.12
sphinx-rtd-theme==0.1.6

# For the manual's reportlab builder (not currently in use)
#rst2pdf==0.93
#reportlab==3.0
#pdfrw==0.1

# Fabric, used for fetching info from and deployment to EOS
Fabric==1.10.0
ecdsa==0.11
paramiko==1.15.1
pycrypto==2.6.1

# GitHub pages deployment
ghp-import==0.4.1

# Table parsing/generation
texttable==0.8.1
pyPEG2==2.15.0

# Generating motd
colorama==0.3.2

# For Python 2/3 compat
six==1.8.0

# EditorConfig; see .editorconfig
EditorConfig==0.11.4
