# For the poster, LaTeX minted package
Pygments==2.0.2

# Sphinx, for the manual
Sphinx==1.2.3
Jinja2==2.7.3
MarkupSafe==0.23
docutils==0.12
sphinx-rtd-theme==0.1.6
sphinxcontrib-spelling==2.1.1
pyenchant==1.6.6

# For the manual's reportlab builder (not currently in use)
#rst2pdf==0.93
#reportlab==3.0
#pdfrw==0.1

# Fabric, used for fetching info from and deployment to EOS
Fabric==1.10.1
ecdsa==0.11
paramiko==1.15.2
pycrypto==2.6.1

# GitHub pages deployment
ghp-import==0.4.1

# Table parsing/generation
texttable==0.8.2
grako==3.4.3

# Generating motd, grako
colorama==0.3.3

# For Python 2/3 compat, and a dependency of astroid
six==1.9.0

# EditorConfig; see .editorconfig
EditorConfig==0.12.0

# pylint
pylint==1.4.1
logilab-common==0.63.2
astroid==1.3.4
